/* MAIN */

main {
	background-color: aqua;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	margin-top: 4rem;
	margin-bottom: 2rem;
}

.category {
	/* border: 1px red solid; */
	width: 60%;
	margin-block: 20px;
	display: flex;
	justify-content: space-around;
}

.service-card {
	border: 2px black solid;
	border-radius: 4rem;
	padding: 2rem;
	width: 8rem;
	text-align: center;
}



.category a {
	color: black;
	text-decoration: none;
}