/* Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: brown; */
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
    width: 60%;
    margin-top: 5rem;
}

/* Article */
.fysiolog {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: chartreuse; */
    width: 60%;
    margin-top: 1rem;
    padding-bottom: 2.5rem;
}
.fysiolog div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fysiolog h2 {
    margin-top: 2rem;
}

.fysiolog h3 {
    margin-top: 2rem;
}

.fysiolog p {
    margin-top: 1rem;
}

strong {
    font-weight: normal;
}
